header {
  display: flex;
  justify-content: center;
  height: 9rem;
  position: fixed;
  width: 100%;
  font-weight: bold;
  color: var(--offWhite);
  background-color: var(--darkGreen);
  box-shadow: 6px 6px 10px #4d5366;
}

nav {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  align-content: center;
  width: 80%;
}

nav > button,
nav > a > button {
  color: var(--offWhite);
  cursor: pointer;
  font-size: 2.4rem;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  transition: transform 0.2s;
}

nav > button:hover,
nav > a > button:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
}

nav > button:active,
nav > a > button:active {
  transform: scale(0.82);
  transition: transform 0.2s;
}
