.homepageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.homepageContent {
  display: flex;
  justify-content: center;
  width: 65%;
  text-align: center;
  margin-top: 20rem;
}

.homeInfo {
  text-align: center;
  margin-top: 10rem;
  color: var(--offWhite);
}

.homeInfo > h1 {
  font-size: 10rem;
}

.homeInfo > p {
  margin: auto;
  margin-top: 10rem;
  width: 60%;
}

.homeInfo > a > button {
  margin-top: 10rem;
  margin-left: 2rem;
}

@keyframes fadeIn {
  0% {
    top: 0px;
    opacity: 0;
  }
  25% {
    top: 200px;
    opacity: 0.5;
  }
  50% {
    top: 200px;
    opacity: 0.75;
  }
  75% {
    top: 200px;
    opacity: 1;
  }
  100% {
    top: 200px;
    opacity: 1;
  }
}
