.modal {
  max-height: 30%;
  width: 35rem;
  position: fixed;
  right: 42rem;
  top: 9rem;
  background-color: var(--darkGreen);
  overflow: scroll;
  box-shadow: 6px 6px 10px #4d5366;
  border-bottom-right-radius: 5rem;
  border-bottom-left-radius: 5rem;
  border: 2px solid var(--offWhite);
  border-top: none;
  z-index: 1;
  
}

.modal::-webkit-scrollbar {
  display: none;
}

/* Modal Content/Box */
.modal-content {
  width: 100%;
  color: var(--offWhite);
  padding: 2rem;
}

.checkoutCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 15rem;
  width: 100%;
  border-top: none;
  font-size: 1.2rem;
  border: 2px solid var(--offWhite);
  border-radius: .5rem;
  margin-bottom: .5rem;
}

input[type=number] {
  text-align: center;
  width: 3rem;
  padding: .2rem;
}
      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
      }
      